<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
</head>
<body>
    <main>
        <ol>
            {% for obj in data %}
                <li>
                    <div>
                        <p>{{obj.author}} at {{obj.time_created.hour}}:{{obj.time_created.minute}}</p>
                        <form action="/admin" method="post">
                            <input name="id" type="hidden" value="{{obj.id}}">
                            <button type="submit">Готово</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ol>
        <a href="/logout">Выйти из аккаунта</a>
    </main>
</body>
</html>